<footer>
    <p><em>{{ .Site.Title }}</em> by <a href="{{ .Site.Params.author_homepage }}">{{ .Site.Params.author }}</a>. This project is generously funded in part by the <a href="https://www.neh.gov/">National Endowment for the Humanities</a> and developed in collaboration with the <a href="https://rrchnm.org/">Roy Rosenzweig Center for History and New Media</a> at <a href="https://www2.gmu.edu/">George Mason University</a>.</p>

    <div class="logo">
        <a href="https://rrchnm.org">Roy Rosenzweig Center for History and New Media</a>
    </div>

</footer>
